
@import "../config.scss";

.textfield {
  color: $text-color-light;
  width: -webkit-fill-available;
  border: 1px solid $border-light;
  padding: 10px;
  font-family: $default-font;
  font-weight: normal;
  border-radius: 5px;
  background-color: $background-medium;
}