@import "../config.css";

.button {
  color: var(--button-color);
  cursor: pointer;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: normal;
  font-family: var(--default-font);
  border-radius: 5px;
  background-color: var(--main-color);
}

.button:hover {
  background-color: var(--main-color-hover);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.125);
}