@import "./config.scss";

* {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  list-style: none;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: $default-font;
  font-weight: 500;
  vertical-align: baseline;
  -webkit-appearance: none;
}

html,
body {
  color: $text-color-light;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}